/.vscode export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.zenodo.json export-ignore
/CITATION.cff export-ignore
/DEV_DOCS/ export-ignore
/SUPPORT.md export-ignore
/support/ export-ignore
/tests/ export-ignore
EM.code-workspace export-ignore
package-lock.json export-ignore
